prototype/AI Agent nutrition prototype weeklyfeedback(1).json
{
  "name": "AI Agent nutrition prototype weeklyfeedback",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "b9c8312a-ed21-4472-a696-ab581145d4d2",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -3024,
        -1008
      ],
      "credentials": {
        "openAiApi": {
          "id": "ITLwTP2HbqHr12cM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID').first().json.file_title }}"
              },
              {
                "name": "file_url",
                "value": "={{ $('Set File ID').first().json.file_url }}"
              }
            ]
          }
        }
      },
      "id": "ac7d61d6-b14e-4f13-a4a8-c16d29d86a57",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -288,
        48
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "c0b3ccd0-5c8c-4100-bb1d-b1a70d150bf4",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        -528,
        48
      ],
      "credentials": {
        "openAiApi": {
          "id": "ITLwTP2HbqHr12cM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agent Tools for Agentic RAG",
        "height": 389,
        "width": 523,
        "color": 4
      },
      "id": "663c5cdf-74ef-4036-87eb-a583f22d2d5e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2160,
        -976
      ]
    },
    {
      "parameters": {
        "content": "## Tool to Add Google Drive Files to Vector DB",
        "height": 867,
        "width": 3373,
        "color": 5
      },
      "id": "2b80c2df-c28d-4c63-8398-aff31b4ecdaa",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3712,
        -672
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "5401d17b-6a6a-4bf6-90e5-00234ccca7f2",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1872,
        -288
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "v1UuNZN1Tab8OK6J",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1VywUvfG3E7njilo8gjIIEfj2nMr7Fptx",
          "mode": "list",
          "cachedResultName": "AI nutrition",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1VywUvfG3E7njilo8gjIIEfj2nMr7Fptx"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "32505965-d8f3-4a35-b7cd-843356b76b5f",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -3168,
        -448
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "v1UuNZN1Tab8OK6J",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1VywUvfG3E7njilo8gjIIEfj2nMr7Fptx",
          "mode": "list",
          "cachedResultName": "AI nutrition",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1VywUvfG3E7njilo8gjIIEfj2nMr7Fptx"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "6c21de74-a4c0-40b2-a2f2-31556a45a094",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -3168,
        -288
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "v1UuNZN1Tab8OK6J",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "72dd2737-332d-463e-a110-74a35a044049",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1088,
        48
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "acc03386-2f12-45b9-a386-8d2c7ab2ea1f",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        -2656,
        -1008
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "4FRFBApDSHLz6K8j",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "4cda3459-0555-4c10-a262-3592e26fa99c",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2544,
        -448
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "G8zyPYoYQjwzv4nd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "884f327d-2ddd-4e0b-b6cb-c8b74e728bb0",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2768,
        -320
      ]
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 813,
        "width": 1036
      },
      "id": "3d6b1b92-182a-40bb-97f5-bea5b2e95ca5",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3136,
        -1424
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b27da016-476c-4381-81a8-c25a9e6508f8",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2160,
        -1280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            },
            {
              "id": "4d101706-345c-4cf1-9b5a-ba126fdc1353",
              "name": "hasImage",
              "value": "={{ $binary?.data ? true : false }}",
              "type": "boolean"
            },
            {
              "id": "a3465b92-c2ee-420c-9cff-aa69c3f8632b",
              "name": "gender",
              "value": "={{ $json.body?.gender || 'male' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "24fe537b-7330-4c03-82ff-3de12d63546b",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2928,
        -1280
      ]
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "2b7426c2-c27e-40e4-9e72-046ebae54a1f",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -3184,
        -1280
      ],
      "webhookId": "1acf30d6-872b-4633-a00e-ee8cdfa406c4"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "206e2795-0413-4373-9b89-cd893848fc02",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1088,
        -528
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "67986467-005e-4b42-b158-e92fa2a7e9c6",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1040,
        -352
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "b6a17f9c-0542-42e0-bb3a-e62015d9bda1",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        -848,
        -272
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "=application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b69f5605-0179-4b02-9a32-e34bb085f82d",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "063f3aa0-44bf-43aa-89af-84d2c658af97",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1632,
        -320
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "697a74bf-8f59-4dc3-8ad6-15ce14786a1e",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -352,
        -192
      ],
      "credentials": {
        "supabaseApi": {
          "id": "G8zyPYoYQjwzv4nd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "7aa121f7-354a-4837-9dbd-db60d1093877",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1264,
        -352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f422e2e0-381c-46ea-8f38-3f58c501d8b9",
              "name": "schema",
              "value": "={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}",
              "type": "string"
            },
            {
              "id": "bb07c71e-5b60-4795-864c-cc3845b6bc46",
              "name": "data",
              "value": "={{ $json.concatenated_data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        -416
      ],
      "id": "afc64d8f-6efe-4873-8222-192dc60a3db8",
      "name": "Set Schema"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1264,
        -176
      ],
      "id": "d8f36a42-c514-4441-9f9d-06bf6abdfb25",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "content": "## Run Each Node Once to Set Up Database Tables",
        "height": 380,
        "width": 1040,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3232,
        -1760
      ],
      "typeVersion": 1,
      "id": "a5b6e1f9-4f74-47d6-b0d7-a2ceabb29ef4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2672,
        -1632
      ],
      "id": "3a800d1b-d71f-4242-a14e-26ab8d685588",
      "name": "Create Document Metadata Table",
      "credentials": {
        "postgres": {
          "id": "4FRFBApDSHLz6K8j",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES document_metadata(id),\n    row_data JSONB  -- Store the actual row data\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2400,
        -1632
      ],
      "id": "9b40e5ed-d052-45c9-8637-2a4d17b410ca",
      "name": "Create Document Rows Table (for Tabular Data)",
      "credentials": {
        "postgres": {
          "id": "4FRFBApDSHLz6K8j",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -1920,
        -736
      ],
      "id": "f6b83d72-b96b-4c5d-8d8a-56cf4ce520fa",
      "name": "List Documents",
      "credentials": {
        "postgres": {
          "id": "4FRFBApDSHLz6K8j",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Given a file ID, fetches the text from the document.",
        "operation": "executeQuery",
        "query": "SELECT \n    string_agg(content, ' ') as document_text\nFROM documents\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';",
        "options": {
          "queryReplacement": "={{ $fromAI('file_id') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -1840,
        -848
      ],
      "id": "9e55bc25-2f41-4cf5-bdaa-273aa544fd01",
      "name": "Get File Contents",
      "credentials": {
        "postgres": {
          "id": "4FRFBApDSHLz6K8j",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Run a SQL query - use this to query from the document_rows table once you know the file ID you are querying. dataset_id is the file_id and you are always using the row_data for filtering, which is a jsonb field that has all the keys from the file schema given in the document_metadata table.\n\nExample query:\n\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM document_rows\nWHERE dataset_id = '123';\n\nExample query 2:\n\nSELECT \n    row_data->>'category' as category,\n    SUM((row_data->>'sales')::numeric) as total_sales\nFROM dataset_rows\nWHERE dataset_id = '123'\nGROUP BY row_data->>'category';",
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_query') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -1744,
        -736
      ],
      "id": "13942a9b-3401-4617-a0d1-43b6c92c505d",
      "name": "Query Document Rows",
      "credentials": {
        "postgres": {
          "id": "4FRFBApDSHLz6K8j",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1584,
        -736
      ],
      "id": "f238560c-4b9e-4d67-a327-4750f5343b7e",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "ITLwTP2HbqHr12cM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2944,
        -448
      ],
      "id": "d8bb979a-c25a-4805-9bee-47f15f310691",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Enable the pgvector extension to work with embedding vectors\ncreate extension vector;\n\n-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Create a function to search for documents\ncreate function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -3168,
        -1632
      ],
      "id": "4d441417-acc2-41d0-bcf8-01098250d378",
      "name": "Create Documents Table and Match Function",
      "credentials": {
        "postgres": {
          "id": "4FRFBApDSHLz6K8j",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "document_rows",
        "filters": {
          "conditions": [
            {
              "keyName": "dataset_id",
              "condition": "eq",
              "keyValue": "={{ $('Set File ID').item.json.file_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2320,
        -288
      ],
      "id": "03bc065f-f034-458e-910b-56ddcbcbeed2",
      "name": "Delete Old Data Rows",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "G8zyPYoYQjwzv4nd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "title": "={{ $('Set File ID').item.json.file_title }}",
            "url": "={{ $('Set File ID').item.json.file_url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2080,
        -432
      ],
      "id": "83f2f012-d4f0-4053-9903-0e983898437a",
      "name": "Insert Document Metadata",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "4FRFBApDSHLz6K8j",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_rows",
          "mode": "list",
          "cachedResultName": "document_rows"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dataset_id": "={{ $('Set File ID').item.json.file_id }}",
            "row_data": "={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dataset_id",
              "displayName": "dataset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_data",
              "displayName": "row_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1040,
        -176
      ],
      "id": "04f106e3-d7cd-4699-9df3-37b46583675e",
      "name": "Insert Table Rows",
      "credentials": {
        "postgres": {
          "id": "4FRFBApDSHLz6K8j",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "schema": "={{ $json.schema }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -144,
        -416
      ],
      "id": "6b40bc54-56b4-4196-9077-abd4c5bd1107",
      "name": "Update Schema for Document Metadata",
      "credentials": {
        "postgres": {
          "id": "4FRFBApDSHLz6K8j",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 400,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -384,
        160
      ],
      "id": "67a74bd1-87fe-4214-9eca-64d19af8f0bb",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "## Save Long Term Memories",
        "height": 360,
        "width": 1620,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2160,
        -1360
      ],
      "typeVersion": 1,
      "id": "9edc6d92-1629-4e18-9896-ab1dfdbb11ca",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"memories\": [\"Memory 1\", \"Memory 2\", \"Memory 3\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1680,
        -1136
      ],
      "id": "19e78ed1-fd71-4a6a-afb0-caf16b71c1c4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Create a table to store your documents\ncreate table memories (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Create a function to search for documents\ncreate function match_memories (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (memories.embedding <=> query_embedding) as similarity\n  from memories\n  where metadata @> filter\n  order by memories.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2912,
        -1632
      ],
      "id": "fd030e19-f30d-43ab-9657-1700b8821258",
      "name": "Create Memories Table and Match Function",
      "credentials": {
        "postgres": {
          "id": "4FRFBApDSHLz6K8j",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -784,
        -752
      ],
      "id": "1781ecaf-8f70-4776-a218-9c05deb03de5",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ITLwTP2HbqHr12cM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Basic LLM Chain').item.json.output.memories }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "timestamp",
                "value": "={{ $now }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -672,
        -896
      ],
      "id": "42b3bd8d-228e-4b2d-b492-69fa4dc4b46c",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 400
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -576,
        -736
      ],
      "id": "e1490e03-5590-4a0e-8bd8-a9ac80fe9947",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "636ddfda-13fd-4f21-ad30-fa21472ed9e7",
              "name": "output",
              "value": "={{ $('Nutrition AI Agent').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        -1152
      ],
      "id": "7e41834c-aa75-4620-a61a-a29c77580ced",
      "name": "Edit Fields1",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2176,
        -752
      ],
      "id": "cb681428-726c-4092-a57c-def39693537f",
      "name": "Embeddings OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "ITLwTP2HbqHr12cM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "memories",
        "toolDescription": "Use this tool to fetch memories from previous conversations if needed to answer a question for the user or continue the conversation.",
        "tableName": {
          "__rl": true,
          "value": "memories",
          "mode": "list",
          "cachedResultName": "memories"
        },
        "options": {
          "queryName": "match_memories"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -2272,
        -912
      ],
      "id": "48c94084-790e-49d3-b385-92273348b92b",
      "name": "Retrieve Memories Tool",
      "credentials": {
        "supabaseApi": {
          "id": "G8zyPYoYQjwzv4nd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "Use RAG to look up information in the knowledgebase.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -1696,
        -880
      ],
      "id": "b9936061-10fc-4476-8c70-2e2c689b1863",
      "name": "Document RAG Tool",
      "credentials": {
        "supabaseApi": {
          "id": "G8zyPYoYQjwzv4nd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert at maintaining a memory database for a user, making sure that there aren't duplicate or contradictory memories.\n\nThe current memories being added to the database are:\n\n{{ $json.output.memories }}\n\nYour job is to:\n- Search the memory database to find any duplicate or contradictory memories. The tool will return memories from the search but you have to decide if they are duplicates or contradictory of the memories being added or not.\n- If you find any duplicate/contradictory memories, output a list of memories to delete (the content of the memory). Otherwise, if you find no memories to delete, output an empty list. You determine based on all the memories returned from the search if they are duplicates/contradictory. The memories you output have to match EXACTLY with the content received.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1392,
        -1296
      ],
      "id": "551c34e8-1751-4228-9ef2-76d6b5df7e52",
      "name": "Memory Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1312,
        -768
      ],
      "id": "b4528747-f837-4799-adc3-4b209bbedb85",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "ITLwTP2HbqHr12cM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "memories",
          "mode": "list",
          "cachedResultName": "memories"
        },
        "options": {
          "queryName": "match_memories"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -864,
        -1296
      ],
      "id": "b129060c-cfdf-45aa-bfea-f41d1224cd48",
      "name": "Supabase Vector Store",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "G8zyPYoYQjwzv4nd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1104,
        -752
      ],
      "id": "1be8866c-0dc3-4291-8d2d-b57726fd4def",
      "name": "Embeddings OpenAI4",
      "credentials": {
        "openAiApi": {
          "id": "ITLwTP2HbqHr12cM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb436122-f430-4ea5-98d8-b99e8c52eeaa",
              "leftValue": "={{ $json.output.memories }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1584,
        -1296
      ],
      "id": "1ab251ee-d355-45b4-b1f8-88eff25be7a4",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Memory Searcher",
        "height": 380,
        "width": 520,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1600,
        -976
      ],
      "id": "09b8dc77-abc8-43bf-804a-506da7c7b689",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert at extract key information from conversations to store as long term memories for RAG.\n\nThe user said:\n\n{{ $('Edit Fields').item.json.chatInput }}\n\nYour goal is to output a list of key memories to extract from the conversation.\n\nJust output a empty list if there is nothing worth saving, like if the user is just asking a basic question without providing additional context.",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -1920,
        -1296
      ],
      "id": "a4d41f80-aa6d-4d52-a218-d0b3c487af6e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1856,
        -1136
      ],
      "id": "1a8519b9-1c80-4833-a017-8a3a29d5f3c9",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ITLwTP2HbqHr12cM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Memory Chunking & Embedding",
        "height": 380,
        "width": 520,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1072,
        -976
      ],
      "id": "fe5a2285-22a2-49d0-afd6-70be3230aeda",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "memories",
        "toolDescription": "Use this tool to retrieve memories from the database. You specifically want to use this to find similar memories to what you are planning on adding so that you can do what it takes to remove duplicates.",
        "tableName": {
          "__rl": true,
          "value": "memories",
          "mode": "list",
          "cachedResultName": "memories"
        },
        "topK": 8,
        "options": {
          "queryName": "match_memories"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -1216,
        -896
      ],
      "id": "71d1d014-ce58-46df-b22e-a318a69919db",
      "name": "Similar Memory Searcher",
      "credentials": {
        "supabaseApi": {
          "id": "G8zyPYoYQjwzv4nd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\"Memory 1\", \"Memory 2\", \"Memory 3\"]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1152,
        -1136
      ],
      "id": "c54e7564-9c43-4940-8841-55e8734843f1",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM memories\nWHERE content IN ({{ $json.output.concat($('Basic LLM Chain').item.json.output.memories).map(item => `'${item.replace(/'/g, \"''\")}'`).join(', ') || '__IMPOSSIBLE_VALUE__' }})",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1056,
        -1296
      ],
      "id": "f629a22a-b6bd-468c-85ed-bc54df3941c2",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "4FRFBApDSHLz6K8j",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "name": "execute_code",
        "description": "Call this tool to execute JavaScript code that you create with parameters that you specify too. All code must be a single line and must be JavaScript code.",
        "jsCode": "/**\n * Execute arbitrary JavaScript code and capture its console output\n * @param {string} codeString - JavaScript code to execute\n * @returns {string} The captured console output\n */\nfunction executeCode(codeString) {\n  // Save the original console.log function\n  const originalLog = console.log;\n  \n  // Create an array to store the output\n  const outputLines = [];\n  \n  // Override console.log to capture output\n  console.log = function(...args) {\n    // Convert all arguments to strings and join them\n    const output = args.map(arg => \n      typeof arg === 'object' ? JSON.stringify(arg) : String(arg)\n    ).join(' ');\n    \n    // Add to our captured output\n    outputLines.push(output);\n  };\n  \n  // Variable to store the result\n  let result;\n  \n  try {\n    // Execute the code\n    result = eval(codeString);\n  } catch (error) {\n    // Restore the original console.log\n    console.log = originalLog;\n    return `Error executing code: ${error.message}`;\n  } finally {\n    // Restore the original console.log\n    console.log = originalLog;\n  }\n  \n  // Join all captured output lines\n  const output = outputLines.join('\\n');\n  \n  // If there's a result but no console output, return the result\n  if (output === '' && result !== undefined) {\n    return String(result);\n  }\n  \n  return output;\n}\n\nreturn executeCode(query.code_to_execute);",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n\t\"code_to_execute\": \"console.log('test')\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        -2352,
        -800
      ],
      "id": "f9c51103-5fb7-4536-85df-1111456f6977",
      "name": "Code Tool"
    },
    {
      "parameters": {
        "content": "## Workflow Agent Tools",
        "height": 380,
        "width": 1100,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2160,
        -1760
      ],
      "id": "35c0ccfd-523b-4f9d-a2de-d98bf8602d79",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "name": "web_search",
        "description": "Call this tool to do an advanced web search based on a query you define.",
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}",
            "tool_type": "web_search"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_type",
              "displayName": "tool_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -2592,
        -848
      ],
      "id": "1e8679ee-6331-4e43-8cc0-595199f331ae",
      "name": "Web Search Tool"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tool_type }}",
                    "rightValue": "image_analysis",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b22be562-3277-48fc-87be-f3a3930f7fd6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a50a5a5a-cc87-4654-97ea-05090efdb416",
                    "leftValue": "={{ $json.tool_type }}",
                    "rightValue": "web_search",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e01bda60-b231-4f1f-a157-0abe1b90ff0e",
                    "leftValue": "={{ $json.tool_type }}",
                    "rightValue": "body_fat_analysis",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1872,
        -1632
      ],
      "id": "db36cf95-aeee-4cea-9bb8-d86ea8aaa880",
      "name": "Determine Tool Type"
    },
    {
      "parameters": {
        "url": "=https://api.search.brave.com/res/v1/web/search?q={{ $('Tool Start').item.json.query }} }}&summary=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1584,
        -1536
      ],
      "id": "dc57bd5b-ee7c-450c-8650-9fe3164c45e0",
      "name": "Brave Web Search",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FfPFNkidgCMxcmUz",
          "name": "Brave API"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "tool_type"
            },
            {
              "name": "query"
            },
            {
              "name": "image_url"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2080,
        -1632
      ],
      "id": "476bd2c9-e64d-4c82-bf69-e82e3ece7dce",
      "name": "Tool Start"
    },
    {
      "parameters": {
        "url": "=https://api.search.brave.com/res/v1/summarizer/search?key={{ $json.summarizer.key }}&entity_info=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip"
            }
          ]
        },
        "options": {}
      },
      "id": "93c9e61c-24b0-4ca5-a775-d288d28e68b8",
      "name": "Summarize Web Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1328,
        -1536
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FfPFNkidgCMxcmUz",
          "name": "Brave API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.image_url }}",
          "mode": "url"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "4744fa1e-85e4-46ff-853e-f63ab99b30a8",
      "name": "Download File1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1584,
        -1712
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "v1UuNZN1Tab8OK6J",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "={{ $('Tool Start').item.json.query }}",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1328,
        -1712
      ],
      "id": "51f78f73-6ec4-4cc5-bbcc-390530d8f4f1",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ITLwTP2HbqHr12cM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "image_analysis",
        "description": "Call this tool to analyze an image based on an image URL that you supply as image_url. The image URL needs to be a URL to a Google Drive image. Also supply query, which is the prompt to the LLM to extract information from the image.\n\nUse the list_documents tool to get the URL for the image.",
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}",
            "tool_type": "image_analysis",
            "image_url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image_url', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_type",
              "displayName": "tool_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -2480,
        -992
      ],
      "id": "80da1e41-9e8f-4b98-b13c-8edcfca4fe1a",
      "name": "Image Analysis Tool"
    },
    {
      "parameters": {
        "content": "# Dynamous AI Agent Mastery - Cloud n8n Agent\nThis workflow implements a powerful AI agent leveraging cloud services through n8n. Use this as a template to build AI agents that utilize state-of-the-art cloud LLMs and have the core set of tools used in most agents!\n\n## Features\n- **Cloud LLM Integration**: Uses OpenAI models for high-quality conversations and embeddings. The LLM provider can be switched easily to something like Anthropic or OpenRouter too!\n- **Agentic RAG**: Google Drive integration and cloud vector storage for knowledge retrieval\n- **Long-term Memory**: Persistent conversation memory through cloud Supabase\n- **Web Search**: Brave API for comprehensive web search capabilities\n- **Code Execution**: Generates and runs JavaScript code\n- **Image Analysis**: Processes images with vision-capable cloud LLMs\n- **Google Drive Integration**: Automatically processes files from your Drive for knowledge retrieval\n\n## Setup Requirements\n1. **Cloud Services**:\n   - Supabase project\n   - OpenAI API key (or the key for another provider if you switch)\n   - Brave API key\n   - Google Drive API credentials\n2. **Environment Configuration**:\n   - Set up credentials in n8n for OpenAI, Supabase, Brave, and Google Drive\n   - Set appropriate model selections in the workflow (gpt-4o-mini, text-embedding-3-small, etc.)\n3. **Database Setup**:\n   - Run the nodes in the top left to set up the database tables (just have to do this once)\n   - Standard dimension of 1536 for OpenAI embeddings\n\n## Workflow Structure\nThe RAG pipeline (bottom part of the workflow in blue) is responsible for syncing a Google Drive folder with the Supabase knowledge base. Make sure the workflow is toggled to active in the top right for this pipeline to work!\n\nThe primary agent is in the yellow box in the middle of the workflow. All of the tools are connected either directly to the agent (in the same box or agentic RAG in the middle green box) or as \"sub-workflows\" which are in the green top box.\n\nThe process of creating long term memories is in the purple boxes.\n\n## Key Differentiators for the Cloud Implementation (Compared to Local)\n- Access to state-of-the-art LLM capabilities (GPT-4o, Claude 3.7, etc.)\n- Reduced computational load on your machine\n- Google Drive integration for seamless document processing\n- Scalable infrastructure that can handle growing data needs\n- Comprehensive web search via Brave API",
        "height": 1304,
        "width": 640,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3888,
        -1376
      ],
      "id": "db6e931d-8694-46a9-9cd0-7f06782735b5",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM my_profile LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -2224,
        -1088
      ],
      "id": "b64e0a44-c4cc-4357-aa9e-5b08d026d931",
      "name": "fetch_my_profile",
      "credentials": {
        "postgres": {
          "id": "4FRFBApDSHLz6K8j",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "name": "calculate_nutritional_needs",
        "description": "PRIORITY TOOL for ALL nutritional calculations with automatic goal inference.\n\nREQUIRED parameters:\n- age: number (years)\n- gender: \"male\"/\"homme\" or \"female\"/\"femme\"\n- weight_kg: number\n- height_cm: number\n- activity_level: \"sedentary\", \"light\", \"moderate\", \"active\", \"very_active\"\n\nOPTIONAL parameters:\n- goals: object {weight_loss, muscle_gain, performance, maintenance} rated 0-10\n- activities: array of activities [\"musculation\", \"basket\", \"cardio\", etc.]\n- context: string describing user's situation (e.g., \"je fais de la musculation et du basket tous les jours\")\n\nAUTO-INFERENCE: If goals not provided, the tool automatically infers them from activities/context:\n- \"musculation\" → muscle_gain: 7, performance: 5\n- \"basket/foot/rugby\" → performance: 7, muscle_gain: 5\n- \"musculation + basket\" → muscle_gain: 7, performance: 7\n- \"perdre/maigrir/sécher\" → weight_loss: 7\n- \"prise de masse/bulk\" → muscle_gain: 8\n\nALWAYS pass the user's context string to enable smart inference!",
        "jsCode": "/**\n * Calculate BMR, TDEE, and macro targets with automatic goal inference\n * @param {Object} params - {age, gender, weight_kg, height_cm, activity_level, goals, activities}\n * @returns {Object} Nutritional targets\n */\n\nconst params = query;\n\n// Input validation\nconst required = ['age', 'gender', 'weight_kg', 'height_cm', 'activity_level'];\nfor (const field of required) {\n  if (!params[field]) {\n    return JSON.stringify({error: `Missing required field: ${field}`});\n  }\n}\n\nconst { \n  age, \n  gender, \n  weight_kg, \n  height_cm, \n  activity_level, \n  goals = {},\n  activities = [],  // NEW: [\"musculation\", \"basket\", \"cardio\", etc.]\n  context = \"\"      // NEW: free text like \"je fais de la musculation et du basket\"\n} = params;\n\n// ============================================\n// AUTO-INFERENCE OF GOALS FROM ACTIVITIES/CONTEXT\n// ============================================\n\nlet inferredGoals = {\n  weight_loss: goals.weight_loss || goals.perte_poids || 0,\n  muscle_gain: goals.muscle_gain || goals.prise_muscle || 0,\n  performance: goals.performance || 0,\n  maintenance: goals.maintenance || goals.maintien || 5\n};\n\n// Normalize activities to lowercase array\nlet activityList = [];\nif (Array.isArray(activities)) {\n  activityList = activities.map(a => a.toLowerCase().trim());\n}\n\n// Parse context string for activity keywords\nconst contextLower = context.toLowerCase();\n\n// Activity detection patterns\nconst muscleKeywords = ['musculation', 'muscu', 'force', 'strength', 'haltères', 'poids', 'gym', 'bodybuilding', 'hypertrophie'];\nconst teamSportKeywords = ['basket', 'basketball', 'foot', 'football', 'rugby', 'handball', 'volley', 'volleyball', 'hockey'];\nconst cardioKeywords = ['cardio', 'course', 'running', 'vélo', 'cyclisme', 'natation', 'swimming', 'rameur', 'hiit'];\nconst weightLossKeywords = ['perdre', 'perte', 'maigrir', 'sécher', 'sèche', 'déficit', 'mincir', 'régime'];\nconst bulkKeywords = ['prendre', 'masse', 'bulk', 'grossir', 'gain', 'prise de masse'];\n\n// Check activities array\nconst hasMuscle = activityList.some(a => muscleKeywords.some(k => a.includes(k)));\nconst hasTeamSport = activityList.some(a => teamSportKeywords.some(k => a.includes(k)));\nconst hasCardio = activityList.some(a => cardioKeywords.some(k => a.includes(k)));\n\n// Check context string\nconst contextHasMuscle = muscleKeywords.some(k => contextLower.includes(k));\nconst contextHasTeamSport = teamSportKeywords.some(k => contextLower.includes(k));\nconst contextHasCardio = cardioKeywords.some(k => contextLower.includes(k));\nconst contextHasWeightLoss = weightLossKeywords.some(k => contextLower.includes(k));\nconst contextHasBulk = bulkKeywords.some(k => contextLower.includes(k));\n\n// Infer goals based on detected activities\nlet goalsInferred = false;\nlet inferenceRationale = [];\n\n// Musculation detected\nif (hasMuscle || contextHasMuscle) {\n  if (inferredGoals.muscle_gain < 6) {\n    inferredGoals.muscle_gain = 7;\n    goalsInferred = true;\n    inferenceRationale.push(\"Musculation détectée → muscle_gain: 7\");\n  }\n  if (inferredGoals.performance < 4) {\n    inferredGoals.performance = 5;\n    inferenceRationale.push(\"Musculation détectée → performance: 5\");\n  }\n}\n\n// Team sport detected\nif (hasTeamSport || contextHasTeamSport) {\n  if (inferredGoals.performance < 7) {\n    inferredGoals.performance = 7;\n    goalsInferred = true;\n    inferenceRationale.push(\"Sport collectif détecté → performance: 7\");\n  }\n  if (inferredGoals.muscle_gain < 5) {\n    inferredGoals.muscle_gain = 5;\n    inferenceRationale.push(\"Sport collectif détecté → muscle_gain: 5\");\n  }\n}\n\n// Both muscle + team sport = high goals\nif ((hasMuscle || contextHasMuscle) && (hasTeamSport || contextHasTeamSport)) {\n  inferredGoals.muscle_gain = Math.max(inferredGoals.muscle_gain, 7);\n  inferredGoals.performance = Math.max(inferredGoals.performance, 7);\n  inferenceRationale.push(\"Musculation + Sport collectif → objectifs élevés (7/7)\");\n}\n\n// Cardio detected\nif (hasCardio || contextHasCardio) {\n  if (inferredGoals.performance < 6) {\n    inferredGoals.performance = 6;\n    goalsInferred = true;\n    inferenceRationale.push(\"Cardio détecté → performance: 6\");\n  }\n}\n\n// Weight loss intent\nif (contextHasWeightLoss) {\n  inferredGoals.weight_loss = Math.max(inferredGoals.weight_loss, 7);\n  goalsInferred = true;\n  inferenceRationale.push(\"Intention perte de poids détectée → weight_loss: 7\");\n}\n\n// Bulk intent\nif (contextHasBulk) {\n  inferredGoals.muscle_gain = Math.max(inferredGoals.muscle_gain, 8);\n  goalsInferred = true;\n  inferenceRationale.push(\"Intention prise de masse détectée → muscle_gain: 8\");\n}\n\n// Reduce maintenance if other goals are high\nif (inferredGoals.muscle_gain > 5 || inferredGoals.weight_loss > 5 || inferredGoals.performance > 5) {\n  inferredGoals.maintenance = 2;\n}\n\n// ============================================\n// 1. BMR - Mifflin-St Jeor Formula\n// ============================================\nlet bmr;\nif (gender.toLowerCase() === 'male' || gender.toLowerCase() === 'm' || gender.toLowerCase() === 'homme') {\n  bmr = (10 * weight_kg) + (6.25 * height_cm) - (5 * age) + 5;\n} else {\n  bmr = (10 * weight_kg) + (6.25 * height_cm) - (5 * age) - 161;\n}\n\n// ============================================\n// 2. TDEE - Activity Level with smart adjustment\n// ============================================\nconst activityMultipliers = {\n  'sedentary': 1.2,\n  'sédentaire': 1.2,\n  'light': 1.375,\n  'léger': 1.375,\n  'moderate': 1.55,\n  'modéré': 1.55,\n  'modérée': 1.55,\n  'active': 1.725,\n  'actif': 1.725,\n  'very_active': 1.9,\n  'très_actif': 1.9,\n  'tres_actif': 1.9\n};\n\nlet activityKey = activity_level.toLowerCase().trim();\nlet multiplier = activityMultipliers[activityKey] || 1.55;\n\n// Smart adjustment: if sedentary job + daily sport mentioned, bump up\nconst hasDailySport = contextLower.includes('jour') || contextLower.includes('daily') || \n                       contextLower.includes('quotidien') || contextLower.includes('séance');\nconst isSedentaryBase = activityKey === 'sedentary' || activityKey === 'sédentaire' || activityKey === 'light' || activityKey === 'léger';\n\nif (isSedentaryBase && hasDailySport && (hasMuscle || contextHasMuscle || hasTeamSport || contextHasTeamSport)) {\n  multiplier = 1.55; // Bump to moderate\n  activityKey = \"moderate (ajusté: sédentaire + sport quotidien)\";\n  inferenceRationale.push(\"Travail sédentaire + sport quotidien → activité ajustée à moderate (1.55)\");\n}\n\nconst tdee = bmr * multiplier;\n\n// ============================================\n// 3. Calorie Target Based on Goals\n// ============================================\nconst weightLoss = inferredGoals.weight_loss;\nconst muscleGain = inferredGoals.muscle_gain;\nconst performance = inferredGoals.performance;\n\nlet targetCalories = tdee;\nlet calorieAdjustment = 0;\nlet calorieRationale = \"Maintien\";\n\nif (weightLoss > 6) {\n  calorieAdjustment = -500;\n  calorieRationale = \"Déficit agressif pour perte de poids\";\n} else if (weightLoss > 3) {\n  calorieAdjustment = -300;\n  calorieRationale = \"Déficit modéré pour perte de poids\";\n} else if (muscleGain > 6) {\n  calorieAdjustment = +300;\n  calorieRationale = \"Surplus pour prise de muscle\";\n} else if (muscleGain > 3) {\n  calorieAdjustment = +150;\n  calorieRationale = \"Surplus léger pour prise de muscle sèche\";\n}\n\ntargetCalories = tdee + calorieAdjustment;\n\n// Safety limits\nconst minCalories = (gender.toLowerCase() === 'female' || gender.toLowerCase() === 'femme' || gender.toLowerCase() === 'f') ? 1200 : 1500;\ntargetCalories = Math.max(targetCalories, minCalories);\n\n// ============================================\n// 4. PROTEIN - Scientific approach (g/kg)\n// ============================================\nlet proteinPerKg = 1.6;\nlet proteinRationale = \"Base maintien (1.6g/kg)\";\n\nif (muscleGain > 7 || performance > 7) {\n  proteinPerKg = 2.2;\n  proteinRationale = \"Maximum scientifique pour hypertrophie/performance (2.2g/kg - ISSN)\";\n} else if (muscleGain > 5 || performance > 5) {\n  proteinPerKg = 2.0;\n  proteinRationale = \"Optimisé pour muscle/performance (2.0g/kg)\";\n} else if (muscleGain > 3 || performance > 3) {\n  proteinPerKg = 1.8;\n  proteinRationale = \"Modéré pour activité sportive (1.8g/kg)\";\n} else if (weightLoss > 5) {\n  proteinPerKg = 2.0;\n  proteinRationale = \"Élevé pour préserver la masse musculaire en déficit (2.0g/kg)\";\n} else if (weightLoss > 3) {\n  proteinPerKg = 1.8;\n  proteinRationale = \"Modéré pour satiété en déficit (1.8g/kg)\";\n}\n\nconst targetProtein = Math.round(weight_kg * proteinPerKg);\nconst proteinCalories = targetProtein * 4;\nconst actualProteinPercent = Math.round((proteinCalories / targetCalories) * 100);\n\n// ============================================\n// 5. FAT - Essential for hormones\n// ============================================\nlet fatPercent = 0.25;\nlet fatRationale = \"Standard (25%)\";\n\nif (weightLoss > 7) {\n  fatPercent = 0.20;\n  fatRationale = \"Réduit en déficit (20%)\";\n}\n\nconst fatCalories = targetCalories * fatPercent;\nconst targetFat = Math.round(fatCalories / 9);\n\n// ============================================\n// 6. CARBS - Remaining calories\n// ============================================\nconst carbCalories = targetCalories - proteinCalories - fatCalories;\nconst targetCarbs = Math.round(carbCalories / 4);\nconst actualCarbsPercent = Math.round((carbCalories / targetCalories) * 100);\nconst actualFatPercent = Math.round((fatCalories / targetCalories) * 100);\n\nlet carbsRationale = \"Calories restantes pour l'énergie\";\nif (performance > 5) {\n  carbsRationale = \"Priorité glucides pour performance sportive\";\n}\n\n// ============================================\n// 7. Warnings\n// ============================================\nconst warnings = [];\n\nif (targetCarbs < 100) {\n  warnings.push(\"⚠️ Glucides bas (<100g) - peut affecter l'énergie\");\n}\nif (targetFat < 50) {\n  warnings.push(\"⚠️ Lipides très bas (<50g) - peut affecter les hormones\");\n}\n\n// ============================================\n// 8. Return results\n// ============================================\nreturn JSON.stringify({\n  bmr: Math.round(bmr),\n  tdee: Math.round(tdee),\n  target_calories: Math.round(targetCalories),\n  \n  target_protein_g: targetProtein,\n  target_carbs_g: targetCarbs,\n  target_fat_g: targetFat,\n  \n  macros_percentage: {\n    protein: actualProteinPercent,\n    carbs: actualCarbsPercent,\n    fat: actualFatPercent\n  },\n  \n  protein_per_kg: proteinPerKg,\n  \n  rationale: {\n    calories: calorieRationale,\n    protein: proteinRationale,\n    carbs: carbsRationale,\n    fat: fatRationale\n  },\n  \n  activity_multiplier: multiplier,\n  activity_level_used: activityKey,\n  \n  goals_used: inferredGoals,\n  goals_were_inferred: goalsInferred,\n  inference_rationale: inferenceRationale.length > 0 ? inferenceRationale : [\"Aucune inférence - objectifs explicites ou défaut\"],\n  \n  warnings: warnings.length > 0 ? warnings : [\"✅ Paramètres dans les normes\"],\n  \n  summary: `BMR: ${Math.round(bmr)} | TDEE: ${Math.round(tdee)} | Cible: ${Math.round(targetCalories)} kcal | P: ${targetProtein}g (${proteinPerKg}g/kg) | G: ${targetCarbs}g | L: ${targetFat}g`\n  \n}, null, 2);\n",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"age\": 23,\n  \"gender\": \"male\",\n  \"weight_kg\": 87,\n  \"height_cm\": 191,\n  \"activity_level\": \"sedentary\",\n  \"context\": \"travail sédentaire mais je fais de la musculation et du basket tous les jours\",\n  \"activities\": [\"musculation\", \"basket\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        -2480,
        -768
      ],
      "id": "df9e26c6-9847-4794-8572-6fefab9f6fae",
      "name": "Calculate Nutrition"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are an expert AI nutritionist creating personalized nutrition plans for YOUR USER.\n\n═══════════════════════════════════════════════════════════════\n🔄 TOOL USAGE RULES\n═══════════════════════════════════════════════════════════════\n\n**ON FIRST MESSAGE ONLY:**\n→ memories + fetch_my_profile (load user context once)\n\n**ON EVERY NUTRITION QUESTION:**\n→ documents RAG first → search scientific knowledge\n→ If insufficient: add web_search\n→ Synthesize both sources\n\n**BEFORE SUGGESTING OR CREATING RECIPES:**\n→ documents RAG → search for recipe templates, ingredients, techniques\n→ documents RAG → search for nutritional principles relevant to the recipe\n→ If needed: web_search for inspiration or seasonal ingredients\n→ NEVER create a recipe without RAG search first\n\n**ON CALCULATIONS:**\n→ calculate_nutritional_needs (BMR, TDEE, macros)\n→ execute_code (complex/custom formulas)\n\n**ON PROFILE UPDATES:**\n→ fetch_my_profile + recalculate if weight/goals change\n\n═══════════════════════════════════════════════════════════════\n🍽️ RECIPE CREATION PROTOCOL\n═══════════════════════════════════════════════════════════════\n\nALWAYS follow this sequence before suggesting recipes:\n\n1. **Search RAG for templates** → existing validated recipes\n2. **Search RAG for ingredients** → nutritional data, combinations\n3. **Search RAG for principles** → timing, macros, diet compatibility\n4. **Check user context** → allergies, preferences, equipment, skill\n5. **Generate/adapt recipe** → based on all gathered knowledge\n\nPriority: Use validated templates > Adapt existing > Create new (with RAG backing)\n\n═══════════════════════════════════════════════════════════════\n👤 PERSONALIZATION CONTEXT\n═══════════════════════════════════════════════════════════════\n\nAlways consider:\n- Weighted goals (0-10): weight loss, muscle gain, maintenance, performance\n- Restrictions: allergies, intolerances, diet type (vegan, keto, etc.)\n- Preferences: favorites, blacklist, cuisines, cooking time/skill\n- Metabolic profile: BMR, TDEE, tendency (fast/slow/normal)\n\n═══════════════════════════════════════════════════════════════\n⚠️ SAFETY RULES\n═══════════════════════════════════════════════════════════════\n\n- Minimum calories: 1200 (women) / 1500 (men)\n- ALWAYS respect allergies - zero tolerance\n- Flag medical concerns → suggest professional consultation\n- This is guidance, NOT medical advice\n- NEVER suggest a recipe without checking allergens against user profile\n\n\n💬 STYLE\n\n\n- French preferred (use \"tu\"), warm and supportive\n- Explain the \"why\" with scientific backing from RAG\n- Be practical and realistic - focus on sustainability\n- Reference user context naturally (don't list what you know)\n\n**ON WEEKLY FEEDBACK / CHECK-IN:**\n→ Use calculate_weekly_adjustments tool\n→ Collect from user: weight start/end, hunger, energy, sleep, cravings, adherence\n→ Pass current targets (calories, protein, carbs, fat) from user profile\n→ Present results clearly:\n  - Weight analysis\n  - Recommended adjustments with rationale\n  - Actionable tips\n→ Ask user to validate before applying new targets\n→ Update profile if user confirms\n\n**WEEKLY CHECK-IN FLOW:**\n1. \"Comment s'est passée ta semaine ?\" → Collect feedback\n2. \"Ton poids en début et fin de semaine ?\" → weight_start, weight_end\n3. \"Niveau de faim ? (faible/moyen/élevé)\" → hunger_level\n4. \"Niveau d'énergie ?\" → energy_level\n5. \"Qualité du sommeil ?\" → sleep_quality\n6. \"Des fringales particulières ?\" → cravings\n7. \"Tu as suivi le plan à combien de % ?\" → adherence_rate\n8. Call calculate_weekly_adjustments\n9. Present recommendations\n10. \"On applique ces ajustements ?\""
        }
      },
      "id": "fef88a73-1695-43f0-b69d-c3d065239278",
      "name": "Nutrition AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -2496,
        -1280
      ]
    },
    {
      "parameters": {
        "name": "calculate_weekly_adjustments",
        "description": "nalyze weekly feedback and calculate nutritional adjustments. Use this tool during the weekly check-in session (typically Sunday evening).\n\nREQUIRED parameters:\n- weight_start: number (kg at week start)\n- weight_end: number (kg at week end)\n- current_calories: number (current daily calorie target)\n\nOPTIONAL parameters:\n- current_protein_g: number (current protein target)\n- current_carbs_g: number (current carbs target)\n- current_fat_g: number (current fat target)\n- adherence_rate: number 0-100 (% of meals followed)\n- hunger_level: \"low\" | \"medium\" | \"high\"\n- energy_level: \"low\" | \"medium\" | \"high\"\n- sleep_quality: \"poor\" | \"medium\" | \"good\"\n- cravings: array [\"sucré\", \"salé\", \"gras\"]\n- user_goal: \"weight_loss\" | \"muscle_gain\" | \"maintenance\" | \"performance\"\n- weeks_on_plan: number (how many weeks on current plan)\n- notes: string (free text feedback from user)\n\nReturns: status, adjustments, new_targets, weight_analysis, rationale, alerts, warnings, tips, recommendation, next_steps, summary",
        "jsCode": "/**\n * Calculate weekly nutritional adjustments based on feedback\n * @param {Object} params - Weekly tracking data\n * @returns {Object} Recommended adjustments\n */\n\nconst params = query;\n\n// Input validation\nconst required = ['weight_start', 'weight_end', 'current_calories'];\nfor (const field of required) {\n  if (params[field] === undefined || params[field] === null) {\n    return JSON.stringify({error: `Missing required field: ${field}`});\n  }\n}\n\nconst {\n  weight_start,\n  weight_end,\n  current_calories,\n  current_protein_g = 0,\n  current_carbs_g = 0,\n  current_fat_g = 0,\n  adherence_rate = 100,\n  hunger_level = \"medium\",      // low, medium, high\n  energy_level = \"medium\",      // low, medium, high\n  sleep_quality = \"medium\",     // poor, medium, good\n  cravings = [],                // [\"sucré\", \"salé\", \"gras\"]\n  user_goal = \"maintenance\",    // weight_loss, muscle_gain, maintenance, performance\n  weeks_on_plan = 1,\n  notes = \"\"                    // Free text feedback\n} = params;\n\n// Calculate weight change\nconst weight_change = weight_end - weight_start;\nconst weight_change_percent = ((weight_change / weight_start) * 100).toFixed(2);\n\n// Initialize adjustments\nlet calorie_adjustment = 0;\nlet protein_adjustment = 0;\nlet carbs_adjustment = 0;\nlet fat_adjustment = 0;\n\nconst rationale = [];\nconst alerts = [];\nconst warnings = [];\nconst tips = [];\n\n// ============================================\n// 1. ADHERENCE CHECK (Priority)\n// ============================================\nif (adherence_rate < 50) {\n  alerts.push(\"🚨 Adhérence très faible (<50%) - Le plan actuel est peut-être trop restrictif\");\n  rationale.push(\"Adhérence insuffisante - priorité: simplifier le plan et améliorer le suivi\");\n  tips.push(\"Essaie de préparer tes repas à l'avance (meal prep)\");\n  tips.push(\"Commence par suivre 1-2 repas par jour avant d'augmenter\");\n  \n  return JSON.stringify({\n    status: \"adherence_issue\",\n    adjustments: { calories: 0, protein_g: 0, carbs_g: 0, fat_g: 0 },\n    new_targets: {\n      calories: current_calories,\n      protein_g: current_protein_g,\n      carbs_g: current_carbs_g,\n      fat_g: current_fat_g\n    },\n    weight_analysis: {\n      start_kg: weight_start,\n      end_kg: weight_end,\n      change_kg: parseFloat(weight_change.toFixed(2)),\n      change_percent: parseFloat(weight_change_percent),\n      trend: \"inconnu (adhérence insuffisante)\"\n    },\n    rationale: rationale,\n    alerts: alerts,\n    warnings: [\"Améliorer l'adhérence avant d'ajuster les apports\"],\n    tips: tips,\n    recommendation: \"🎯 Focus cette semaine: suivre le plan à 70%+ avant tout ajustement\",\n    next_check: \"Réévaluation après une semaine d'adhérence améliorée\"\n  }, null, 2);\n}\n\nif (adherence_rate < 70) {\n  warnings.push(\"⚠️ Adhérence modérée (50-70%) - Les ajustements seront conservateurs\");\n  rationale.push(\"Adhérence à améliorer - ajustements limités cette semaine\");\n}\n\n// ============================================\n// 2. WEIGHT ANALYSIS BY GOAL\n// ============================================\nconst goalLower = user_goal.toLowerCase();\n\nif (goalLower === \"weight_loss\" || goalLower === \"perte_poids\" || goalLower === \"perte\") {\n  \n  // Target: -0.3 to -0.7 kg/week (safe loss = 0.5-1% body weight)\n  if (weight_change < -1.0) {\n    calorie_adjustment += 200;\n    rationale.push(`⚠️ Perte trop rapide (${weight_change.toFixed(2)}kg/sem) → +200 kcal pour préserver les muscles`);\n    warnings.push(\"Perte >1kg/semaine = risque de perte musculaire\");\n    tips.push(\"Une perte de 0.5-0.7kg/semaine est optimale pour préserver la masse musculaire\");\n    \n  } else if (weight_change < -0.7) {\n    calorie_adjustment += 100;\n    rationale.push(`Perte rapide (${weight_change.toFixed(2)}kg) → +100 kcal par sécurité`);\n    \n  } else if (weight_change >= -0.3 && weight_change < 0) {\n    rationale.push(`✅ Perte optimale (${weight_change.toFixed(2)}kg) - Continue ainsi !`);\n    \n  } else if (weight_change >= 0 && weight_change < 0.3) {\n    calorie_adjustment -= 150;\n    rationale.push(`Stagnation (${weight_change.toFixed(2)}kg) → -150 kcal pour relancer`);\n    tips.push(\"Vérifie aussi ton niveau d'activité et la qualité du sommeil\");\n    \n  } else if (weight_change >= 0.3) {\n    calorie_adjustment -= 250;\n    rationale.push(`❌ Prise de poids (${weight_change.toFixed(2)}kg) en objectif perte → -250 kcal`);\n    alerts.push(\"🚨 Prise de poids alors qu'objectif = perte\");\n    tips.push(\"Revérifie les portions et les calories cachées (sauces, huiles, snacks)\");\n  }\n\n} else if (goalLower === \"muscle_gain\" || goalLower === \"prise_muscle\" || goalLower === \"prise\" || goalLower === \"masse\") {\n  \n  // Target: +0.2 to +0.5 kg/week (lean gain)\n  if (weight_change > 0.7) {\n    calorie_adjustment -= 200;\n    rationale.push(`⚠️ Prise trop rapide (${weight_change.toFixed(2)}kg) → -200 kcal pour limiter le gras`);\n    warnings.push(\"Prise >0.7kg/semaine = probablement du gras\");\n    \n  } else if (weight_change > 0.5) {\n    calorie_adjustment -= 100;\n    rationale.push(`Prise légèrement rapide (${weight_change.toFixed(2)}kg) → -100 kcal`);\n    \n  } else if (weight_change >= 0.2 && weight_change <= 0.5) {\n    rationale.push(`✅ Prise optimale (${weight_change.toFixed(2)}kg) - Parfait pour une prise sèche !`);\n    \n  } else if (weight_change >= 0 && weight_change < 0.2) {\n    calorie_adjustment += 150;\n    rationale.push(`Prise lente (${weight_change.toFixed(2)}kg) → +150 kcal`);\n    \n  } else if (weight_change < 0) {\n    calorie_adjustment += 300;\n    rationale.push(`❌ Perte de poids (${weight_change.toFixed(2)}kg) en objectif prise → +300 kcal`);\n    alerts.push(\"🚨 Tu perds du poids alors que tu veux en prendre\");\n    tips.push(\"Ajoute une collation ou augmente les portions\");\n  }\n\n} else if (goalLower === \"performance\" || goalLower === \"sport\") {\n  \n  // Performance: slight surplus, stable weight OK\n  if (Math.abs(weight_change) <= 0.3) {\n    rationale.push(`✅ Poids stable (${weight_change.toFixed(2)}kg) - Idéal pour la performance`);\n  } else if (weight_change < -0.5) {\n    calorie_adjustment += 200;\n    rationale.push(`Perte de poids (${weight_change.toFixed(2)}kg) → +200 kcal pour maintenir l'énergie`);\n    warnings.push(\"Déficit calorique peut impacter tes performances\");\n  } else if (weight_change > 0.5) {\n    calorie_adjustment -= 100;\n    rationale.push(`Prise de poids (${weight_change.toFixed(2)}kg) → -100 kcal`);\n  }\n\n} else {\n  // Maintenance\n  if (Math.abs(weight_change) <= 0.3) {\n    rationale.push(`✅ Poids stable (${weight_change.toFixed(2)}kg) - Maintien réussi`);\n  } else {\n    const adj = weight_change > 0 ? -100 : +100;\n    calorie_adjustment += adj;\n    rationale.push(`Variation (${weight_change.toFixed(2)}kg) → ${adj > 0 ? '+' : ''}${adj} kcal pour stabiliser`);\n  }\n}\n\n// ============================================\n// 3. HUNGER ANALYSIS\n// ============================================\nconst hungerLower = hunger_level.toLowerCase();\n\nif (hungerLower === \"high\" || hungerLower === \"élevé\" || hungerLower === \"élevée\" || hungerLower === \"forte\") {\n  protein_adjustment += 20;\n  rationale.push(\"🍽️ Faim élevée → +20g protéines pour améliorer la satiété\");\n  tips.push(\"Privilégie les aliments riches en fibres et protéines\");\n  tips.push(\"Bois plus d'eau, parfois la soif est confondue avec la faim\");\n  \n  // If also losing weight fast, add more calories\n  if (weight_change < -0.5 && (goalLower === \"weight_loss\" || goalLower === \"perte_poids\")) {\n    calorie_adjustment += 100;\n    rationale.push(\"Faim + perte rapide → +100 kcal supplémentaires\");\n  }\n  \n} else if (hungerLower === \"low\" || hungerLower === \"faible\" || hungerLower === \"basse\") {\n  rationale.push(\"✅ Faim bien gérée\");\n  \n  // If not hungry but not losing weight in weight loss goal\n  if (weight_change >= 0 && (goalLower === \"weight_loss\" || goalLower === \"perte_poids\")) {\n    tips.push(\"Tu n'as pas faim mais tu ne perds pas - vérifie les calories liquides et les snacks\");\n  }\n}\n\n// ============================================\n// 4. ENERGY ANALYSIS\n// ============================================\nconst energyLower = energy_level.toLowerCase();\n\nif (energyLower === \"low\" || energyLower === \"faible\" || energyLower === \"basse\") {\n  carbs_adjustment += 30;\n  rationale.push(\"⚡ Énergie basse → +30g glucides\");\n  tips.push(\"Place tes glucides autour de l'entraînement (avant et après)\");\n  tips.push(\"Vérifie ton sommeil et ton hydratation\");\n  \n  if (sleep_quality === \"poor\" || sleep_quality === \"mauvais\" || sleep_quality === \"mauvaise\") {\n    warnings.push(\"Énergie basse + mauvais sommeil - le sommeil est prioritaire\");\n    tips.push(\"Vise 7-9h de sommeil de qualité avant d'ajuster la nutrition\");\n  }\n  \n} else if (energyLower === \"high\" || energyLower === \"élevé\" || energyLower === \"élevée\" || energyLower === \"haute\") {\n  rationale.push(\"✅ Niveau d'énergie optimal\");\n}\n\n// ============================================\n// 5. SLEEP QUALITY IMPACT\n// ============================================\nconst sleepLower = (sleep_quality || \"medium\").toLowerCase();\n\nif (sleepLower === \"poor\" || sleepLower === \"mauvais\" || sleepLower === \"mauvaise\") {\n  warnings.push(\"😴 Mauvais sommeil détecté - peut ralentir le métabolisme de 5-10%\");\n  tips.push(\"Le manque de sommeil augmente la ghréline (hormone de la faim)\");\n  tips.push(\"Priorité #1: améliorer le sommeil avant d'ajuster les calories\");\n}\n\n// ============================================\n// 6. CRAVINGS MANAGEMENT\n// ============================================\nconst cravingsLower = Array.isArray(cravings) ? cravings.map(c => c.toLowerCase()) : [];\n\nif (cravingsLower.includes(\"sucré\") || cravingsLower.includes(\"sucre\") || cravingsLower.includes(\"sweet\")) {\n  rationale.push(\"🍬 Fringales sucrées détectées\");\n  tips.push(\"Intègre 1 fruit ou 1 carré de chocolat noir après le repas\");\n  tips.push(\"Les fringales sucrées peuvent indiquer un manque de glucides ou de sommeil\");\n  alerts.push(\"💡 Suggestion: yaourt grec + miel, fruits, chocolat noir 70%+\");\n}\n\nif (cravingsLower.includes(\"salé\") || cravingsLower.includes(\"sel\") || cravingsLower.includes(\"salty\")) {\n  rationale.push(\"🧂 Fringales salées détectées\");\n  tips.push(\"Vérifie ton hydratation - bois-tu assez d'eau?\");\n  tips.push(\"Après le sport, un peu de sel est normal et bénéfique\");\n  alerts.push(\"💡 Suggestion: cornichons, olives, bouillon, oléagineux légèrement salés\");\n}\n\nif (cravingsLower.includes(\"gras\") || cravingsLower.includes(\"fat\") || cravingsLower.includes(\"fatty\")) {\n  fat_adjustment += 10;\n  rationale.push(\"🥑 Fringales grasses → +10g lipides\");\n  tips.push(\"Ajoute des sources de bons gras: avocat, huile d'olive, noix\");\n  alerts.push(\"💡 Suggestion: avocat, beurre de cacahuète, noix, fromage\");\n}\n\n// ============================================\n// 7. NOTES ANALYSIS (Free text feedback)\n// ============================================\nconst notesLower = (notes || \"\").toLowerCase();\n\nif (notesLower.includes(\"fatigué\") || notesLower.includes(\"fatigue\") || notesLower.includes(\"épuisé\")) {\n  if (carbs_adjustment === 0) {\n    carbs_adjustment += 20;\n    rationale.push(\"Fatigue mentionnée → +20g glucides\");\n  }\n  tips.push(\"La fatigue peut venir du manque de calories, glucides, fer ou sommeil\");\n}\n\nif (notesLower.includes(\"ballonné\") || notesLower.includes(\"digestion\") || notesLower.includes(\"ventre\")) {\n  tips.push(\"Problèmes digestifs: réduis les fibres temporairement, mange plus lentement\");\n  tips.push(\"Tiens un journal alimentaire pour identifier les aliments problématiques\");\n}\n\nif (notesLower.includes(\"motivation\") || notesLower.includes(\"difficile\") || notesLower.includes(\"dur\")) {\n  tips.push(\"La motivation fluctue - concentre-toi sur les habitudes, pas la perfection\");\n  tips.push(\"Autorise-toi 1-2 repas plaisir par semaine pour tenir sur le long terme\");\n}\n\n// ============================================\n// 8. METABOLIC TENDENCY (after 4+ weeks)\n// ============================================\nif (weeks_on_plan >= 4) {\n  alerts.push(\"📊 4+ semaines complétées - Analyse de tendance métabolique disponible\");\n  tips.push(\"Après 4 semaines, on peut détecter si ton métabolisme est rapide, normal ou lent\");\n}\n\n// ============================================\n// 9. CALCULATE NEW TARGETS\n// ============================================\nconst new_calories = Math.round(current_calories + calorie_adjustment);\nconst new_protein = Math.round(current_protein_g + protein_adjustment);\nconst new_carbs = Math.round(current_carbs_g + carbs_adjustment);\nconst new_fat = Math.round(current_fat_g + fat_adjustment);\n\n// Safety floors\nconst final_calories = Math.max(new_calories, 1200);\nconst final_protein = Math.max(new_protein, 50);\nconst final_carbs = Math.max(new_carbs, 50);\nconst final_fat = Math.max(new_fat, 30);\n\n// ============================================\n// 10. GENERATE STATUS & RECOMMENDATION\n// ============================================\nlet status = \"stable\";\nif (Math.abs(calorie_adjustment) > 150) {\n  status = calorie_adjustment > 0 ? \"increase_significant\" : \"decrease_significant\";\n} else if (calorie_adjustment !== 0) {\n  status = calorie_adjustment > 0 ? \"increase_minor\" : \"decrease_minor\";\n}\n\nlet recommendation = \"\";\nconst goalMessages = {\n  weight_loss: {\n    optimal: \"🎯 Progression idéale ! Continue comme ça.\",\n    increase: \"📈 Léger ajustement à la hausse pour un déficit soutenable.\",\n    decrease: \"📉 Léger ajustement à la baisse pour relancer la perte.\"\n  },\n  muscle_gain: {\n    optimal: \"💪 Prise de masse propre en cours ! Continue.\",\n    increase: \"📈 Augmente les calories pour favoriser la croissance musculaire.\",\n    decrease: \"📉 Réduis légèrement pour limiter la prise de gras.\"\n  },\n  performance: {\n    optimal: \"🏆 Équilibre parfait pour la performance !\",\n    increase: \"📈 Plus d'énergie nécessaire pour tes entraînements.\",\n    decrease: \"📉 Léger ajustement pour optimiser la composition corporelle.\"\n  },\n  maintenance: {\n    optimal: \"⚖️ Maintien parfait !\",\n    increase: \"📈 Léger ajustement pour stabiliser.\",\n    decrease: \"📉 Léger ajustement pour stabiliser.\"\n  }\n};\n\nconst goalKey = goalLower.includes(\"perte\") || goalLower.includes(\"loss\") ? \"weight_loss\" :\n                goalLower.includes(\"muscle\") || goalLower.includes(\"masse\") || goalLower.includes(\"prise\") ? \"muscle_gain\" :\n                goalLower.includes(\"performance\") || goalLower.includes(\"sport\") ? \"performance\" : \"maintenance\";\n\nif (calorie_adjustment === 0 && protein_adjustment === 0 && carbs_adjustment === 0) {\n  recommendation = goalMessages[goalKey].optimal;\n} else if (calorie_adjustment > 0) {\n  recommendation = goalMessages[goalKey].increase;\n} else {\n  recommendation = goalMessages[goalKey].decrease;\n}\n\n// ============================================\n// 11. RETURN RESULTS\n// ============================================\nreturn JSON.stringify({\n  status: status,\n  \n  adjustments: {\n    calories: calorie_adjustment,\n    protein_g: protein_adjustment,\n    carbs_g: carbs_adjustment,\n    fat_g: fat_adjustment\n  },\n  \n  current_targets: {\n    calories: current_calories,\n    protein_g: current_protein_g,\n    carbs_g: current_carbs_g,\n    fat_g: current_fat_g\n  },\n  \n  new_targets: {\n    calories: final_calories,\n    protein_g: final_protein,\n    carbs_g: final_carbs,\n    fat_g: final_fat\n  },\n  \n  weight_analysis: {\n    start_kg: weight_start,\n    end_kg: weight_end,\n    change_kg: parseFloat(weight_change.toFixed(2)),\n    change_percent: parseFloat(weight_change_percent),\n    trend: weight_change < -0.1 ? \"perte\" : weight_change > 0.1 ? \"prise\" : \"stable\"\n  },\n  \n  feedback_received: {\n    adherence_rate: adherence_rate,\n    hunger_level: hunger_level,\n    energy_level: energy_level,\n    sleep_quality: sleep_quality,\n    cravings: cravings,\n    user_goal: user_goal,\n    weeks_on_plan: weeks_on_plan\n  },\n  \n  rationale: rationale,\n  alerts: alerts.length > 0 ? alerts : [\"✅ Aucune alerte\"],\n  warnings: warnings.length > 0 ? warnings : [],\n  tips: tips.length > 0 ? tips : [\"Continue comme ça !\"],\n  \n  recommendation: recommendation,\n  \n  next_steps: [\n    calorie_adjustment !== 0 ? `Ajuster les calories: ${calorie_adjustment > 0 ? '+' : ''}${calorie_adjustment} kcal → ${final_calories} kcal` : null,\n    protein_adjustment !== 0 ? `Ajuster les protéines: ${protein_adjustment > 0 ? '+' : ''}${protein_adjustment}g → ${final_protein}g` : null,\n    carbs_adjustment !== 0 ? `Ajuster les glucides: ${carbs_adjustment > 0 ? '+' : ''}${carbs_adjustment}g → ${final_carbs}g` : null,\n    fat_adjustment !== 0 ? `Ajuster les lipides: ${fat_adjustment > 0 ? '+' : ''}${fat_adjustment}g → ${final_fat}g` : null,\n    hungerLower === \"high\" || hungerLower === \"élevé\" ? \"Ajouter des aliments rassasiants (protéines, fibres)\" : null,\n    energyLower === \"low\" || energyLower === \"faible\" ? \"Optimiser le timing des glucides autour des entraînements\" : null,\n    sleepLower === \"poor\" || sleepLower === \"mauvais\" ? \"PRIORITÉ: Améliorer la qualité du sommeil\" : null\n  ].filter(Boolean),\n  \n  summary: `Semaine ${weeks_on_plan}: ${weight_change >= 0 ? '+' : ''}${weight_change.toFixed(2)}kg | Adhérence: ${adherence_rate}% | Ajustement: ${calorie_adjustment >= 0 ? '+' : ''}${calorie_adjustment} kcal`\n  \n}, null, 2);",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"weight_start\": 87,\n  \"weight_end\": 86.4,\n  \"current_calories\": 3328,\n  \"current_protein_g\": 174,\n  \"current_carbs_g\": 450,\n  \"current_fat_g\": 92,\n  \"adherence_rate\": 85,\n  \"hunger_level\": \"medium\",\n  \"energy_level\": \"high\",\n  \"sleep_quality\": \"good\",\n  \"cravings\": [\"sucré\"],\n  \"user_goal\": \"muscle_gain\",\n  \"weeks_on_plan\": 2,\n  \"notes\": \"Bonne semaine, un peu fatigué vendredi\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        -2624,
        -720
      ],
      "id": "1fd430fc-dd8c-4c42-91a6-b9222e55aa9d",
      "name": "Calculate Nutrition1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data",
          "rawBody": true
        }
      },
      "id": "3ebb7add-7766-402c-80aa-ff6b9691dee0",
      "name": "Webhook2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3168,
        -864
      ],
      "webhookId": "5e0f8b2d-b66c-4ea3-9882-c121a992b1e9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ff87d9b-fb56-4830-ad85-3dc189a60f2b",
              "name": "analysisPrompt",
              "value": "=Tu es un expert en composition corporelle et fitness. Analyse cette photo corporelle et estime le pourcentage de masse grasse (body fat).  Genre de la personne : {{ $('Tool Start').item.json.gender || 'male' }}  CRITÈRES D'ÉVALUATION VISUELLE : 1. Visibilité des abdominaux (aucune / légère / définie / très définie) 2. Définition musculaire générale des bras, épaules, pectoraux 3. Présence de graisse sous-cutanée visible (poignées d'amour, bas du ventre) 4. Vascularisation visible (veines apparentes) 5. Séparation musculaire entre les groupes musculaires  ÉCHELLE DE RÉFÉRENCE HOMME : - 6-9% : Compétition bodybuilding - 10-14% : Athlétique (abdos visibles) - 15-19% : Fitness - 20-24% : Moyen - 25%+ : Surpoids  ÉCHELLE DE RÉFÉRENCE FEMME : - 14-17% : Compétition fitness - 18-22% : Athlétique - 23-27% : Fitness - 28-32% : Moyenne - 33%+ : Surpoids  RÉPONDS UNIQUEMENT EN JSON VALIDE : {   \"estimated_body_fat_percent\": <nombre>,   \"range\": {\"min\": <nombre>, \"max\": <nombre>},   \"confidence\": \"low\" | \"medium\" | \"high\",   \"muscle_development\": \"débutant\" | \"intermédiaire\" | \"avancé\" | \"athlète\",   \"analysis_notes\": \"<observations en français>\",   \"recommendations\": \"<conseil bref>\",   \"disclaimer\": \"Estimation visuelle approximative. Pour une mesure précise, consulter un professionnel.\" }",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1664,
        -2000
      ],
      "id": "9ad9965a-304f-44a7-893b-efc0dd5d4182",
      "name": "Analysis prompt"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Tu es un coach fitness expérimenté qui aide les gens à comprendre leur progression physique.\n\nL'utilisateur souhaite avoir un retour visuel sur sa condition physique actuelle pour mieux orienter son programme d'entraînement et de nutrition.\n\nGenre de la personne : {{ $json.gender }}\n\nEn te basant sur les indicateurs visuels observables sur cette photo, donne une évaluation générale de la condition physique :\n\n1. **Niveau de définition musculaire** : Évalue la visibilité des muscles (abdominaux, bras, épaules, pectoraux)\n   - Très défini / Défini / Modéré / Peu visible\n\n2. **Estimation de la composition corporelle** : Donne une fourchette approximative du taux de masse grasse basée sur les repères visuels standards utilisés dans le fitness\n   - Homme : athlétique (10-14%), fitness (15-19%), moyen (20-24%), à travailler (25%+)\n   - Femme : athlétique (18-22%), fitness (23-27%), moyenne (28-32%), à travailler (33%+)\n\n3. **Points forts observés** : Quels groupes musculaires semblent les plus développés ?\n\n4. **Axes d'amélioration** : Suggestions pour progresser\n\n5. **Estimation globale** : Donne un chiffre estimé (ex: \"environ 18%\") avec une fourchette (ex: \"entre 16% et 20%\")\n\nIMPORTANT : \n- C'est une évaluation visuelle approximative à but informatif uniquement\n- Seules des méthodes professionnelles (DEXA, impédancemétrie) donnent des mesures précises\n- Cette estimation sert à orienter l'entraînement, pas à poser un diagnostic\n\nRéponds de manière encourageante et constructive, comme un coach bienveillant.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2352,
        -1472
      ],
      "id": "87fba40c-67de-4379-ad77-2702ee6b9e33",
      "name": "Analyze Body Fat",
      "credentials": {
        "openAiApi": {
          "id": "ITLwTP2HbqHr12cM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a84dfb0-56a5-4562-b37e-4e0ac2da41de",
              "name": "output",
              "value": "={{ $json.content || $json.text || $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2224,
        -1472
      ],
      "id": "c6bf9f45-81d4-4b5a-992f-caa8a6ea9bcb",
      "name": "Format Body Fat Response"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.hasImage }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "b8aaed25-e8f2-4e24-90b0-cdf93b6ac101"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2720,
        -1280
      ],
      "id": "4b20901b-90f8-49e2-b816-1b0752c1cb42",
      "name": "Check If Image"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Analyse cette image et détermine si elle est appropriée pour une estimation de body fat (masse grasse).\n\nUne image VALIDE doit montrer :\n- Une personne humaine\n- Le torse visible (torse nu, en sous-vêtements, maillot de bain, ou vêtements moulants)\n- Une photo permettant d'évaluer la composition corporelle\n\nUne image INVALIDE :\n- Pas une personne humaine (animal, objet, paysage, nourriture, etc.)\n- Personne habillée avec vêtements amples cachant le corps\n- Seulement le visage\n- Image floue ou trop sombre pour analyser\n- Contenu inapproprié\n\nRÉPONDS UNIQUEMENT EN JSON :\n{\n  \"is_valid\": true ou false,\n  \"reason\": \"explication courte\"\n}",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2688,
        -1440
      ],
      "id": "a8097aeb-3280-4ce3-9f43-d1aa1749036f",
      "name": "Validate body image",
      "credentials": {
        "openAiApi": {
          "id": "ITLwTP2HbqHr12cM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.content || response.text || '';\n\nlet isValid = false;\nlet reason = \"Impossible d'analyser l'image\";\n\ntry {\n  // Nettoyer la réponse\n  const cleanedText = content\n    .replace(/```json\\n?/g, '')\n    .replace(/```\\n?/g, '')\n    .replace(/\\n/g, '')\n    .trim();\n  \n  const parsed = JSON.parse(cleanedText);\n  isValid = parsed.is_valid === true;\n  reason = parsed.reason || reason;\n  \n} catch (error) {\n  // Si le parsing échoue, chercher des mots clés\n  const lowerContent = content.toLowerCase();\n  if (lowerContent.includes('\"is_valid\": true') || lowerContent.includes('\"is_valid\":true')) {\n    isValid = true;\n  }\n  // Extraire la raison si possible\n  const reasonMatch = content.match(/\"reason\":\\s*\"([^\"]+)\"/);\n  if (reasonMatch) {\n    reason = reasonMatch[1];\n  }\n}\n\n// Récupérer le binary depuis le node précédent (Edit Fields ou Check If Image)\nconst binaryData = $('Code in JavaScript').first().binary;\n\nreturn [{\n  json: {\n    isValid: isValid,\n    reason: reason,\n    gender: $('Code in JavaScript').first().json.gender || 'male'\n  },\n  binary: binaryData\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2544,
        -1440
      ],
      "id": "95926a6e-d34a-4a0a-b215-0c6ed913c2b3",
      "name": "Parse Validation"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isValid }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "f706c5d5-5ec9-4459-9a15-ba093ef6e476"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2480,
        -1376
      ],
      "id": "7de492ab-9a99-451a-b027-9d9151635939",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2dd06943-bb69-4bbc-ab88-4befb9ea60cb",
              "name": "output",
              "value": "=❌ **Image non valide pour l'analyse body fat**  {{ $json.reason }}  Pour une analyse de composition corporelle, j'ai besoin d'une photo qui montre : 📸 Ton torse (torse nu, en sous-vêtements ou maillot) 💡 Un bon éclairage 🧍 Une posture debout, de face  Tu peux réessayer avec une photo adaptée ?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2336,
        -1360
      ],
      "id": "0ae54a4e-8e45-4dca-be4d-0f867eae8194",
      "name": "Format Error Response"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\n// Récupérer les infos JSON\nconst chatInput = item.json?.chatInput || item.json.body?.chatInput || '';\nconst sessionId = item.json?.sessionId || item.json.body?.sessionId || '';\nconst gender = item.json.body?.gender || item.json?.gender || 'male';\n\n// Vérifier si une image est présente dans le JSON\nconst imageData = item.json?.image || item.json.body?.image || null;\n\nlet result = {\n  json: {\n    chatInput: chatInput,\n    sessionId: sessionId,\n    hasImage: false,\n    gender: gender\n  }\n};\n\n// Si l'image est dans le JSON (format data:image/xxx;base64,...)\nif (imageData && typeof imageData === 'string' && imageData.startsWith('data:image/')) {\n  \n  // Extraire le MIME type et les données base64\n  const matches = imageData.match(/^data:(image\\/[a-zA-Z]+);base64,(.+)$/);\n  \n  if (matches) {\n    const mimeType = matches[1];\n    const base64Data = matches[2];\n    \n    result.json.hasImage = true;\n    result.binary = {\n      data: {\n        data: base64Data,\n        mimeType: mimeType,\n        fileName: 'uploaded_image.' + mimeType.split('/')[1]\n      }\n    };\n  }\n}\n\nreturn [result];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2928,
        -1456
      ],
      "id": "c1fd452c-940c-4535-802f-c4f01539e200",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {
    "Tool Start": [
      {
        "json": {
          "tool_type": "image_analysis",
          "query": "https://drive.google.com/file/d/1vnjEMW9XKgWwmy17VjZO8ci2Mi7RO_9e/view?usp=drive_link"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Nutrition AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Nutrition AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Delete Old Data Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Set Schema",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Schema": {
      "main": [
        [
          {
            "node": "Update Schema for Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Documents": {
      "ai_tool": [
        [
          {
            "node": "Nutrition AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get File Contents": {
      "ai_tool": [
        [
          {
            "node": "Nutrition AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Document Rows": {
      "ai_tool": [
        [
          {
            "node": "Nutrition AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Document RAG Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Data Rows": {
      "main": [
        [
          {
            "node": "Insert Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document Metadata": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Retrieve Memories Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Memories Tool": {
      "ai_tool": [
        [
          {
            "node": "Nutrition AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Document RAG Tool": {
      "ai_tool": [
        [
          {
            "node": "Nutrition AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Memory Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory Agent": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI4": {
      "ai_embedding": [
        [
          {
            "node": "Similar Memory Searcher",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Memory Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Similar Memory Searcher": {
      "ai_tool": [
        [
          {
            "node": "Memory Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Memory Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool": {
      "ai_tool": [
        [
          {
            "node": "Nutrition AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Search Tool": {
      "ai_tool": [
        [
          {
            "node": "Nutrition AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Determine Tool Type": {
      "main": [
        [
          {
            "node": "Download File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Brave Web Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analysis prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Start": {
      "main": [
        [
          {
            "node": "Determine Tool Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brave Web Search": {
      "main": [
        [
          {
            "node": "Summarize Web Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Analysis Tool": {
      "ai_tool": [
        [
          {
            "node": "Nutrition AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "fetch_my_profile": {
      "ai_tool": [
        [
          {
            "node": "Nutrition AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Nutrition AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Nutrition": {
      "ai_tool": [
        [
          {
            "node": "Nutrition AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Nutrition1": {
      "ai_tool": [
        [
          {
            "node": "Nutrition AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analysis prompt": {
      "main": [
        []
      ]
    },
    "Analyze Body Fat": {
      "main": [
        [
          {
            "node": "Format Body Fat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Body Fat Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Image": {
      "main": [
        [
          {
            "node": "Validate body image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nutrition AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate body image": {
      "main": [
        [
          {
            "node": "Parse Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validation": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Analyze Body Fat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Check If Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "671d7fc8-b2df-44b5-90ce-3ba8702a0eba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f6f690bbf7cc25ef6f1be55125d3b426ec4e1d5157d0b22ea2300c1e51248b05"
  },
  "id": "rIb42fC0CkLSYHcm",
  "tags": []
}